:root {
  --lines-light-gray: #e9e9e9;
}

.our-team-modal {
  position: fixed;
  z-index: 1111111;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
}

.our-team-modal__content {
  background-color: #fff;
  margin: auto;
  padding: 16px;
  width: 80%;
  height: fit-content;
  max-width: 1040px;
  border-radius: var(--border-radius);
}

.our-team-modal__close-btn {
  display: flex;
  align-items: center;
  float: right;
  height: 28px;
  width: 28px;
  border: none;
  background-color: transparent;
}

.our-team-modal__close-btn:hover {
  border: 1px solid var(--primary-black-color);
  border-radius: 10px;
  transition: var(--transition-duration);
}

.our-team-modal__aspect-ratio-wrapper {
  display: flex;
  align-items: center;
  max-width: 504px;
  width: 100%;
}

.our-team-modal__square-container {
  position: relative;
  padding-top: 100%;
  width: 100%;
}

.our-team-modal__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.our-team-modal__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.our-team-modal__content-wrapper {
  display: flex;
  gap: 29px;
}

.our-team-modal__info {
  width: 100%;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.our-team-modal__name {
  font-size: 28px;
  line-height: 1.21em;
  color: var(--primary-black-color);
}

.our-team-modal__role,
.our-team-modal__description {
  line-height: 1.5em;
  color: var(--secondary-color-gray);
}

.our-team-modal__description {
  max-height: 265px;
  overflow: auto;
}

.our-team-modal__description > * {
  margin: 0;
}

.our-team-modal__social-media-wrapper {
  display: flex;
  gap: 12px;
}

.our-team-modal .social-media {
  display: flex;
  padding: 12px;
  border-radius: 32px;
  border: 1px solid var(--lines-light-gray);
}

.our-team-modal .social-media:hover {
  border-color: var(--primary-black-color);
  transition: var(--transition-duration);
}

@media screen and (max-width: 900px) {
  .our-team-modal__close-btn {
    display: flex;
    margin-left: auto;
    float: none;
    width: 26px;
    height: 26px;
  }

  .our-team-modal__name {
    font-size: 22px;
    line-height: 1.27em;
  }

  .our-team-modal__description {
    font-size: 16px;
    line-height: 1.5em;
    max-height: 100%;
  }

  .our-team-modal__content {
    padding: 14px;
    margin: 16px;
    width: auto;
  }

  .our-team-modal__info {
    margin-top: 0;
    gap: 13px;
  }

  .our-team-modal .social-media {
    padding: 7px;
  }

  .our-team-modal__aspect-ratio-wrapper {
    max-width: 100%;
  }

  .our-team-modal__content-wrapper {
    margin-top: 15px;
    flex-direction: column;
    gap: 16px;
  }
}