:root {
  --start-column: 1;
  --end-column: 3;
  /* Додано, щоб уникнути проблем, якщо потрібно розтягнути або стиснути елемент */
}

.contact-us * {
  margin: 0;
}

.contact-us__store-info-wrapper {
  padding: 32px 0;
  display: flex;
  justify-content: space-between
}

.contact-us__info-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 48px;
}

.contact-us__info-heading-wrapper {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  gap: 16px
}

.contact-us__info-title {
  font-size: 38px;
  line-height: 1.21em;
}

.contact-us__info-text {
  line-height: 1.5em;
  color: var(--secondary-color-gray);
}

.contact-us__point-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-us__point-heading {
  line-height: 1.5em;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-us__point-icon {
  width: 24px;
  height: 24px;
}

.contact-us__point-text {
  font-size: 18px;
  line-height: 1.33em;
}

.contact-us__point-text * {
  text-decoration: none;
  color: var(--primary-black-color);
}

.contact-us__btns {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.contact-us__btn {
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  padding: 16px 32px;
  border-radius: var(--large-border-radius);
  border: 1px solid var(--primary-black-color);
  color: var(--primary-black-color);
  font-size: 16px;
  line-height: 1.37em;
  transition: var(--transition-duration);
}

.contact-us__btn:hover {
  outline-offset: 3px;
  transform: scale(0.9);
  outline: 2px solid var(--primary-black-color)
}

.contact-us__btn--filled {
  background-color: var(--primary-black-color);
  color: #fff;
}

.contact-us__btn--centered {
  display: flex;
  margin: 16px auto 0;
}

.contact-us__img-wrapper {
  margin: auto 0;
  width: 50%;
  height: 100%;
  position: relative;
}

.contact-us__img-wrapper:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.contact-us__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-us__map-wrapper {
  margin: 32px 0;
  overflow: hidden;
  border-radius: var(--large-border-radius);
  position: relative;
}

.contact-us__map-wrapper:after {
  content: "";
  display: block;
  padding-top: 29%;
}

.contact-us__map-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-us__map-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-us__form-wrapper {
  max-width: 800px;
  margin: 0 auto 32px;
}

.contact-us__form-heading {
  margin: 64px 0 32px;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21em;
}

.contact-us__form-status {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
  justify-content: center;
}

.contact-us__form--success {
  color: green;
}

.contact-us__form--error {
  color: var(--secondary-color-red);
}

.contact-us__asterisk {
  color: var(--secondary-color-red)
}

.contact-us__form-status > svg {
  width: 24px;
  height: 24px;
}

.contact-us__inputs {
  display: grid;
  gap: 16px;
}

.contact-us__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  grid-column: var(--start-column) / var(--end-column);
}

.contact-us__input {
  padding: 16px 24px;
  border-radius: var(--large-border-radius);
  border: 1px solid var(--lines-light-gray-input)
}

.contact-us__input::placeholder {
  line-height: 1.5em;
  color: var(--secondary-color-light-gray);
}

.contact-us__textarea {
  resize: vertical;
  min-height: 114px
}

@media screen and (min-width: 1015px) {
  .contact-us__input-name {
    grid-column: var(--start-column) / 2;
  }

  .contact-us__input-email {
    grid-column: 2 / var(--end-column);
  }
}

@media screen and (max-width: 1015px) {
  .contact-us__store-info-wrapper {
    flex-direction: column-reverse;
  }

  .contact-us__info-heading-wrapper {
    margin-top: 31px;
  }

  .contact-us__info-content {
    width: 100%;
    padding: 0;
    gap: 24px;
  }

  .contact-us__img-wrapper {
    width: 100%
  }

  .contact-us__map-wrapper:after {
    padding-top: 81%;
  }

  .contact-us__info-title {
    font-size: 28px;
    font-weight: 500;
  }

  .contact-us__info-text {
    font-size: 16px;
  }

  .contact-us__point-heading {
    font-size: 16px;
  }

  .contact-us__form-heading {
    margin: 16px 0
  }
}
