:root {
  --header-height: 85px;
  --mob-header-height: 64px;
  --top-distance: 32px;
}

.faq__title {
  margin: 0 0 64px;
  font-size: 44px;
  text-align: center;
  color: var(--primary-black-color)
}

.faq {
  padding: 32px 140px;
}

.faq__container {
  display: flex;
  gap: 32px;
}

.faq__menu {
  max-width: 280px;
  width: 100%;
  height: 100%;
  position: sticky;
  top: var(--top-distance);
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: var(--transition-duration);
}

.faq__menu--offset {
  top: calc(var(--header-height) + var(--top-distance));
}

.faq__content-wrapper {
  width: 100%;
}

.faq__group {
  display: flex;
  flex-direction: column;
}

.faq__group-name {
  margin: 40px 0 24px;
  padding: 8px 0;
  font-size: 22px;
  line-height: 1.18em;
  color: var(--primary-black-color);
}

.faq__group-name:first-child {
  margin-top: 0;
  padding-top: 7px;
}

.faq__accordion {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lines-light-gray);
  border-left: 0;
  border-right: 0;
  cursor: pointer;
}

.faq__accordion:hover {
  border-bottom: 2px solid var(--primary-black-color);
  transition: var(--transition-duration)
}

.faq__accordion--active .faq__answer {
  padding: 4px 0 12px 5px;
  max-height: 400px;
  opacity: 1;
  cursor: auto;
}

.faq__accordion--active .icon-caret {
  transform: rotate(-180deg);
}

.faq__question-accordion {
  padding: 15px 12px 12px 8px;
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 16px;
  line-height: 1.5em;
  border: 0;
  background: transparent;
  text-align: start;
  color: var(--primary-black-color);
}

.faq__answer {
  line-height: 1.5em;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: var(--transition-duration);
  color: var(--primary-black-color);
}

.faq__answer > * {
  margin: 0;
}

.faq__question-accordion .icon-caret {
  max-width: 20px;
  width: 100%;
  margin-left: auto;
  transition: var(--transition-duration);
}

.faq__btn {
  max-width: 100%;
  width: fit-content;
  padding: 5px 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.37em;
  background: transparent;
  border: none;
  color: var(--secondary-color-light-gray);
  white-space: nowrap;
}

.faq__icon {
  width: 24px;
  height: 24px;
}

.faq__btn:hover, .faq__btn--active {
  color: var(--primary-black-color);
}

.faq__btn:after, .faq__btn--active:after {
  margin-top: 8px;
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: var(--primary-black-color);
  transition: var(--transition-duration)
}

.faq__btn--active:after {
  width: 100%;
}

.faq__btn:hover:after {
  width: 100%;
}

@media screen and (min-width: 1100px) {
  .faq__btn {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 1100px) {
  .faq__title {
    font-size: 32px;
    line-height: 1.25em;
  }

  .faq__container {
    flex-direction: column;
    gap: 16px;
  }

  .faq__menu {
    max-width: 100%;
    top: 0;
    gap: 32px;
    margin: 0 -16px;
    padding: 16px;
    overflow: auto;
    flex-direction: row;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #fff;
  }

  .faq__menu--offset {
    top: calc(var(--mob-header-height));
  }

  .faq__group-name {
    margin: 43px 0 24px;
    font-size: 18px;
    line-height: 1.22em;
  }

  .faq__menu::-webkit-scrollbar {
    display: none;
  }

  .faq__btn {
    max-width: none;
    padding: 0;
    font-size: 14px;
    line-height: 1.28em;
  }

  .faq__accordion--active .faq__answer {
    padding-left: 8px;
  }
}
