.quick-view-cnt__container {
  margin-top: 16px;
  display: flex;
}

.quick-view-cnt__aspect-ratio-wrapper {
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.quick-view-cnt__aspect-ratio-wrapper:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.quick-view-cnt__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quick-view-cnt {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 32px;
}

.quick-view-cnt * {
  margin: 0;
}

.quick-view-cnt__gallery {
  max-width: 480px;
  width: 100%;
}

.quick-view-cnt__gallery .swiper-button-next, .quick-view-cnt__gallery .swiper-button-prev {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: #fff;
  border: 1px solid var(--lines-light-gray);
  border-radius: 100%;
  padding: 12px;
  transition: var(--transition-duration);
}

.quick-view-cnt__gallery .swiper-button-next:after, .quick-view-cnt__gallery .swiper-button-prev:after {
  content: "";
}

.quick-view-cnt__gallery .swiper-button-prev {
  left: 15px
}

.quick-view-cnt__gallery .swiper-button-next {
  right: 15px;
}

.quick-view-cnt__gallery .swiper-button-next:hover {
  transform: scale(1.2);
}

.quick-view-cnt__gallery .swiper-button-prev:hover {
  transform: rotate(-180deg) scale(1.2);
}

.quick-view-cnt__gallery .swiper-button-prev {
  transform: rotate(-180deg)
}

.quick-view-cnt__arrow-icon {
  width: 16px;
  height: 16px;
}

.quick-view-cnt__bottom-slider {
  margin-top: 16px
}

.swiper-slide-thumb-active {
  border: 1px solid var(--primary-black-color);
}

.quick-view-cnt__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quick-view-cnt__title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21em;
}

.quick-view-cnt__price {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}

.quick-view-cnt__variants {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 12px;
}

.quick-view-cnt__variant {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5em;
  background-color: transparent;
  border: 1px solid var(--lines-light-gray);
  color: var(--secondary-color-gray);
  border-radius: var(--border-radius);
  transition: var(--transition-duration)
}

.quick-view-cnt__variant:hover {
  border-color: var(--primary-black-color);
}

.quick-view-cnt__variant:has(input:checked) {
  border-color: var(--primary-black-color);
}

.quick-view-cnt__variant label {
  padding: 15px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.quick-view-cnt__variant input {
  display: none;
}

.quick-view-cnt__variant:has(.quick-view-cnt__variant--disabled) {
  color: var(--secondary-color-light-gray);
  text-decoration: line-through;
}

.quick-view-cnt__variant input:checked ~ label {
  color: var(--primary-black-color);
}

.quick-view-cnt__quantity {
  border-radius: 68px;
  padding: 8px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-gray-color);
}

.quick-view-cnt__quantity-btn {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--lines-light-gray);
  border-radius: 32px;
  transition: var(--transition-duration);
}

.quick-view-cnt__quantity-btn:hover {
  transform: scale(0.8);
}

.quick-view-cnt__counter {
  min-width: 36px;
  display: flex;
  justify-content: center;
}

.quick-view-cnt__submit {
  font-size: 16px;
  line-height: 1.37em;
  padding: 16px 32px;
  background-color: var(--primary-black-color);
  color: #fff;
  border: none;
  border-radius: 32px;
}

.quick-view-cnt__submit:disabled {
  opacity: 0.5;
}

.quick-view-cnt__visit-btn {
  display: flex;
  justify-content: center;
  padding: 4px 0;
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: var(--primary-black-color);
}

.quick-view-cnt__visit-btn:hover {
  gap: 10px;
}

.quick-view-cnt__visit-btn-text {
  padding: 0 4px 4px;
  border-bottom: 1px solid var(--primary-black-color);
}

.quick-view-cnt__footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quick-view-cnt__info-wrapper-mobile {
  display: none;
}

.quick-view-cnt__info-wrapper-mobile * {
  margin: 0;
}

.quick-view-cnt__error-message {
  display: flex;
  font-size: 30px;
  justify-content: center;
  margin: 200px auto;
  color: var(--secondary-color-red);
}

@media screen and (max-width: 997px) {
  .quick-view-cnt {
    padding: 0;
    gap: 26px;
  }

  .quick-view-cnt__container {
    flex-direction: column;
    gap: 16px;
  }

  .quick-view-cnt__info-wrapper {
    display: none
  }

  .quick-view-cnt__info-wrapper-mobile {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .quick-view-cnt__title {
    font-size: 22px;
    line-height: 1.27em
  }

  .quick-view-cnt__gallery {
    margin: auto;
  }

  .quick-view-cnt__gallery .quick-view-cnt__bottom-slider {
    display: none;
  }

  .quick-view-cnt__gallery .swiper-button-next, .quick-view-cnt__gallery .swiper-button-prev {
    display: none;
  }

  .quick-view-cnt__variants {
    gap: 8px;
  }

  .quick-view-cnt__variant {
    font-size: 14px;
    line-height: 1.28em;
  }

  .quick-view-cnt__variant label {
    padding: 12px
  }
}
