:root {
  --title-font-size: 22px;
  --spacing: 32px 16px;
}

.collections-list {
  padding: var(--spacing);
}

.collections-list__wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(293px, 400px));
  gap: var(--spacing);
}

.collections-list__card {
  position: relative;
  width: 100%;
  transition: var(--transition-duration);
}

.collections-list__card--square::before,
.collections-list__card--portrait::before,
.collections-list__card--landscape::before {
  content: "";
  display: block;
}

.collections-list__card--square::before {
  padding-top: 100%;
}

.collections-list__card--portrait::before {
  padding-top: 120%;
}

.collections-list__card--landscape::before {
  padding-top: 69%;
}

.collections-list__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: var(--transition-duration);
}

.collections-list__content:hover {
  scale: 0.9;
  transition: var(--transition-duration);
}

.collections-list__content--inside {
  position: relative;
}

.collections-list__card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.collections-list__card-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}

.collections-list__card--inside {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.collections-list__card--inside .collections-list__card-img {
  position: absolute;
  border-radius: 0;
}

.collections-list__content--inside .collections-list__card-info {
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.collections-list__card-title {
  font-size: var(--title-font-size);
  line-height: 1.18em;
  color: var(--primary-black-color);
}

.collections-list__card-text {
  line-height: 1.375em;
  color: var(--secondary-color-gray);
}

.collections-list__card-picture {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.collections-list__card-picture::after {
  content: "";
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: var(--border-radius);
}

@media screen and (max-width: 1260px) {
  .collections-list {
    padding: 31px 0;
  }

  .collections-list__wrapper {
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .collections-list__wrapper::-webkit-scrollbar {
    display: none;
  }

  .collections-list__wrapper::before,
  .collections-list__wrapper::after {
    content: "";
  }

  .collections-list__card-title {
    font-size: 18px;
    line-height: 1.22em;
  }

  .collections-list__card-info {
    bottom: 0;
    gap: 5px;
  }

  .collections-list__card--portrait {
    aspect-ratio: 5 / 6.4;
  }

  .collections-list__card {
    min-width: 293px;
    height: 100%;
  }
}
